.git
.github
.local
.pytest_cache
.env.docker
**/.env
**/.phpunit.result.cache
**/__pycache__
**/*.pyc
backend/node_modules
backend/vendor
backend/public/build
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
mobile/.dart_tool
mobile/build
style-system/node_modules
